# Python - Part 02

# Break and Continue Statements in Python

## Break Statement

The `break` statement is used to exit a loop prematurely when a certain condition is met.

### Example of Break Statement
```python
for i in range(10):
    if i == 5:
        break
    print(i)

In [1]:
for i in range(1, 10): # n = n-1
    if i == 5:
        break
    print(i)

1
2
3
4

In [2]:
data = 'data science'
type(data)

str

In [3]:
for i in data:
    if i=='e':
        break
    print(i)

d
a
t
a

s
c
i

# Continue Statement in Python

The `continue` statement in Python is used to skip the current iteration of a loop and proceed to the next iteration. This can be useful when you want to skip certain values or conditions within a loop without terminating the entire loop.

## Syntax

The syntax of the `continue` statement is simple:

```python
continue

#### Example:-
for i in range(10):
    if i % 2 == 0:
        continue
    print(i)

In [4]:
data

'data science'

In [5]:
for i in data:
    if i=='e':
        continue #ignore/skip
    print(i)

d
a
t
a

s
c
i
n
c

In [6]:
for i in range(10):
    if i % 2 == 0:
        continue
    print(i)

1
3
5
7
9

# Data Structures in Python

Python provides several `built-in` data structures to store and manage data efficiently. These data structures include lists, tuples, dictionaries, sets, and more. Each data structure has unique properties and methods, making them suitable for different types of applications.

### Type of Data Structures in Python

- String
- List
- Tuple
- Set
- Dictionary

# 1. Lists in Python

A list is an ordered, mutable collection of elements. Lists can contain elements of different types.

### Example:
```python
dept = ["ai", "ds", "da", "nlp"]
print(dept)

In [7]:
data = [1,2,3,4,5,True,False,'Shakil','ABC',1,2,3,[1,2,3,4],(1,2,3),10]

In [8]:
data

[1,
 2,
 3,
 4,
 5,
 True,
 False,
 'Shakil',
 'ABC',
 1,
 2,
 3,
 [1, 2, 3, 4],
 (1, 2, 3),
 10]

In [9]:
type(data)

list

In [10]:
data[10]

2

In [11]:
data[2]

3

In [12]:
data.index(3) # index er vetore jeta ase seta holo data

2

In [13]:
data[-1]

10

In [14]:
data[-2]

(1, 2, 3)

In [15]:
for i in data:
    print(type(i))

<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'bool'>
<class 'bool'>
<class 'str'>
<class 'str'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'list'>
<class 'tuple'>
<class 'int'>

In [16]:
type(data[3])

int

In [17]:
data

[1,
 2,
 3,
 4,
 5,
 True,
 False,
 'Shakil',
 'ABC',
 1,
 2,
 3,
 [1, 2, 3, 4],
 (1, 2, 3),
 10]

In [19]:
data[-3][-2]

3

In [20]:
import sys
sys.getsizeof(data)

176

In [21]:
data2 = (1,2,3,4,5,True,False,'Shakil','ABC',1,2,3,[1,2,3,4],(1,2,3),10)
sys.getsizeof(data2) #tuple

160

# Common List Methods in Python

In Python, lists are versatile and come with a variety of built-in methods to manipulate and manage the elements they contain. Below are some common list methods illustrated with the example list `dept = ["ai", "ds", "da", "nlp"]`.

```python <br>
dept = ["ai", "ds", "da", "nlp"] <br>
print(dept)

### Common List Methods:

- `append()`
- `insert()`
- `remove()`
- `pop()`
- `clear()`
- `index()`
- `count()`
- `sort()`
- `reverse()`
- `copy()`

dept = ["ai", "ds", "da", "nlp"] <br>
print(dept) <br>
Output: ['ai', 'ds', 'da', 'nlp']

# Append
dept.append("cv") <br>
print(dept) <br> 
Output: ['ai', 'ds', 'da', 'nlp', 'cv']

# Insert
dept.insert(1, "ml") <br>
print(dept)  <br>
Output: ['ai', 'ml', 'ds', 'da', 'nlp', 'cv']

# Remove
dept.remove("ds") <br>
print(dept)  <br>
Output: ['ai', 'ml', 'da', 'nlp', 'cv']

# Pop
removed_element = dept.pop(2) <br>
print(removed_element)  <br>
Output: 'da' <br>
print(dept)  <br>
Output: ['ai', 'ml', 'nlp', 'cv']

# Clear
dept.clear() <br>
print(dept)  <br>
Output: []

# Reinitialize
dept = ["ai", "ds", "da", "nlp"]

# Index
index_ds = dept.index("ds") <br>
print(index_ds)  <br>
Output: 1

# Count
count_ai = dept.count("ai") <br>
print(count_ai)  <br>
Output: 1

# Sort
dept.sort() <br>
print(dept)  <br>
Output: ['ai', 'da', 'ds', 'nlp']

# Reverse
dept.reverse() <br>
print(dept)  <br>
Output: ['nlp', 'ds', 'da', 'ai']

# Copy
dept_copy = dept.copy() <br>
print(dept_copy)  <br>
Output: ['nlp', 'ds', 'da', 'ai']

# Let's practice list methods

In [22]:
data.append('shakil')

In [23]:
data

[1,
 2,
 3,
 4,
 5,
 True,
 False,
 'Shakil',
 'ABC',
 1,
 2,
 3,
 [1, 2, 3, 4],
 (1, 2, 3),
 10,
 'shakil']

In [25]:
data[10]

2

In [26]:
data[10] = 'dataaaa'

In [27]:
data

[1,
 2,
 3,
 4,
 5,
 True,
 False,
 'Shakil',
 'ABC',
 1,
 'dataaaa',
 3,
 [1, 2, 3, 4],
 (1, 2, 3),
 10,
 'shakil']

In [28]:
data.insert(1, 500)

In [29]:
data

[1,
 500,
 2,
 3,
 4,
 5,
 True,
 False,
 'Shakil',
 'ABC',
 1,
 'dataaaa',
 3,
 [1, 2, 3, 4],
 (1, 2, 3),
 10,
 'shakil']

In [31]:
data.insert(1,[10,20])

In [32]:
data

[1,
 [10, 20],
 500,
 2,
 3,
 4,
 5,
 True,
 False,
 'Shakil',
 'ABC',
 1,
 'dataaaa',
 3,
 [1, 2, 3, 4],
 (1, 2, 3),
 10,
 'shakil']

In [33]:
data.reverse()

In [34]:
data

['shakil',
 10,
 (1, 2, 3),
 [1, 2, 3, 4],
 3,
 'dataaaa',
 1,
 'ABC',
 'Shakil',
 False,
 True,
 5,
 4,
 3,
 2,
 500,
 [10, 20],
 1]

In [35]:
data[0]

'shakil'

In [36]:
data3 = data

In [37]:
data3

['shakil',
 10,
 (1, 2, 3),
 [1, 2, 3, 4],
 3,
 'dataaaa',
 1,
 'ABC',
 'Shakil',
 False,
 True,
 5,
 4,
 3,
 2,
 500,
 [10, 20],
 1]

In [38]:
data

['shakil',
 10,
 (1, 2, 3),
 [1, 2, 3, 4],
 3,
 'dataaaa',
 1,
 'ABC',
 'Shakil',
 False,
 True,
 5,
 4,
 3,
 2,
 500,
 [10, 20],
 1]

In [39]:
data3[0] = 'aiquest'

In [40]:
data3

['aiquest',
 10,
 (1, 2, 3),
 [1, 2, 3, 4],
 3,
 'dataaaa',
 1,
 'ABC',
 'Shakil',
 False,
 True,
 5,
 4,
 3,
 2,
 500,
 [10, 20],
 1]

In [41]:
data

['aiquest',
 10,
 (1, 2, 3),
 [1, 2, 3, 4],
 3,
 'dataaaa',
 1,
 'ABC',
 'Shakil',
 False,
 True,
 5,
 4,
 3,
 2,
 500,
 [10, 20],
 1]

In [43]:
data4 = data.copy()

In [44]:
data4

['aiquest',
 10,
 (1, 2, 3),
 [1, 2, 3, 4],
 3,
 'dataaaa',
 1,
 'ABC',
 'Shakil',
 False,
 True,
 5,
 4,
 3,
 2,
 500,
 [10, 20],
 1]

In [45]:
data4 = 'ai'

In [46]:
data4

'ai'

In [47]:
data

['aiquest',
 10,
 (1, 2, 3),
 [1, 2, 3, 4],
 3,
 'dataaaa',
 1,
 'ABC',
 'Shakil',
 False,
 True,
 5,
 4,
 3,
 2,
 500,
 [10, 20],
 1]

In [48]:
data.count(4)

1

In [49]:
data.remove(1)

In [50]:
data.pop(1)

10

In [51]:
del data[0]

In [52]:
data

[(1, 2, 3),
 [1, 2, 3, 4],
 3,
 'dataaaa',
 'ABC',
 'Shakil',
 False,
 True,
 5,
 4,
 3,
 2,
 500,
 [10, 20],
 1]

In [53]:
del data[0]

In [54]:
data

[[1, 2, 3, 4],
 3,
 'dataaaa',
 'ABC',
 'Shakil',
 False,
 True,
 5,
 4,
 3,
 2,
 500,
 [10, 20],
 1]

In [55]:
del data[0]

In [56]:
data

[3, 'dataaaa', 'ABC', 'Shakil', False, True, 5, 4, 3, 2, 500, [10, 20], 1]

In [57]:
type(data)

list

In [58]:
data2 = tuple(data)

In [59]:
type(data2)

tuple

In [60]:
tup = (1,2,3,4,5)

In [61]:
tup

(1, 2, 3, 4, 5)

# 2. Tuples in Python

A tuple is an ordered, immutable collection of elements in Python. Tuples can contain elements of different types and are often used to group related data. Once a tuple is created, its elements cannot be changed.

## Creating Tuples

Tuples can be created by placing a comma-separated sequence of elements inside parentheses.

### Example:
```python
# Creating a tuple
coordinates = (10.0, 20.0)
print(coordinates)  # Output: (10.0, 20.0)

# Creating a tuple without parentheses (not recommended but valid)
coordinates = 10.0, 20.0
print(coordinates)  # Output: (10.0, 20.0)

In [62]:
tup = (1,2,3,4,5,True,False,[1,2,3])

In [63]:
tup

(1, 2, 3, 4, 5, True, False, [1, 2, 3])

In [65]:
tup[0]

1

In [66]:
tup[0] = 10

TypeError: 'tuple' object does not support item assignment

In [67]:
tup.pop(1)

AttributeError: 'tuple' object has no attribute 'pop'

In [68]:
del tup[1]

TypeError: 'tuple' object doesn't support item deletion

In [69]:
tup

(1, 2, 3, 4, 5, True, False, [1, 2, 3])

In [70]:
tup[0]

1

In [71]:
tup[4]

5

In [73]:
tup[0:4]

(1, 2, 3, 4)

In [74]:
tup[5:]

(True, False, [1, 2, 3])

In [75]:
tup[0:4] + tup[5:]

(1, 2, 3, 4, True, False, [1, 2, 3])

In [76]:
tup = tup[0:4] + tup[5:] # tuple slicing

In [77]:
tup

(1, 2, 3, 4, True, False, [1, 2, 3])

# Tuple to List

In [78]:
l1 = list(tup)
l1

[1, 2, 3, 4, True, False, [1, 2, 3]]

In [79]:
l1.remove(1)

In [80]:
l1

[2, 3, 4, True, False, [1, 2, 3]]

# Tuple Slicing in Python

Tuples in Python are immutable sequences, typically used to store collections of heterogeneous data. Slicing is a technique used to retrieve a subset of elements from a tuple. It is similar to slicing in lists and strings.

## Basic Syntax

The syntax for slicing a tuple is as follows:

```python
tuple[start:stop:step]

In [81]:
t1 = [1,2,3,4,5,6,7,8,9,0]
t1[0:10]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 0]

In [82]:
t1[0:10:2]

[1, 3, 5, 7, 9]

# 3. Sets in Python

A set is an unordered collection of unique elements in Python. Sets are mutable, meaning you can add or remove elements, but they do not allow duplicate values.

## Creating Sets

Sets can be created using curly braces `{}` or the `set()` function.

### Example:
```python
# Creating a set with curly braces
dep = {"ai", "ml", "ds"}
print(dep)  # Output: {"ai", "ml", "ds"}

# Creating a set with the set() function
numbers = set([1, 2, 3, 4, 5])
print(numbers)  # Output: {1, 2, 3, 4, 5}

# Creating an empty set
empty_set = set()
print(empty_set)  # Output: set()

In [83]:
dep = {"ai", "ml", "ds"}

In [84]:
dep

{'ai', 'ds', 'ml'}

In [85]:
s1 = (1,2,3,4,5,10,'ai')

In [86]:
s1

(1, 2, 3, 4, 5, 10, 'ai')

In [87]:
dep.union(s1)

{1, 10, 2, 3, 4, 5, 'ai', 'ds', 'ml'}

In [88]:
dep.intersection(s1)

{'ai'}

In [90]:
s2 = {1,2,3}

s2.issubset(s1) #s2 er element gula s1 a ase kina? jodi thake tahole true r na thakne false

True

In [93]:
s1 = {1,2,3,4,5,10,'ai'}

In [95]:
s1.difference(s2)

{10, 4, 5, 'ai'}

In [96]:
s1.add(5)

In [97]:
s1

{1, 10, 2, 3, 4, 5, 'ai'}

In [98]:
s3 = {1, 10, 2, 3, 4, 5, 'ai',5,5,5,5}

In [99]:
s3

{1, 10, 2, 3, 4, 5, 'ai'}

In [101]:
s3.remove(5)

In [102]:
s3

{1, 10, 2, 3, 4, 'ai'}

In [103]:
s3.remove(5)

KeyError: 5

In [104]:
s3.discard(2)

In [105]:
s3

{1, 10, 3, 4, 'ai'}

In [106]:
s3.discard(2)

In [107]:
s3

{1, 10, 3, 4, 'ai'}

In [108]:
s1 | s2 #union

{1, 10, 2, 3, 4, 5, 'ai'}

In [109]:
s1 & s2 #intersection

{1, 2, 3}

# 4. Frozen Sets in Python

A `frozenset` is an `immutable version` of a set. Once created, elements cannot be added or removed from a `frozenset`. This makes `frozenset` hashable and eligible to be used as keys in dictionaries or elements of other sets.

## Creating Frozen Sets

Frozen sets can be created using the `frozenset()` function.

### Example:
```python
# Creating a frozenset
frozen_fruits = frozenset(["ai", "ds", "ml"])
print(frozen_fruits)  # Output: frozenset({"ai", "ds", "ml"})

In [110]:
frozen_fruits = frozenset(["ai", "ds", "ml"])
frozen_fruits

frozenset({'ai', 'ds', 'ml'})

In [111]:
frozen_fruits.add(10)

AttributeError: 'frozenset' object has no attribute 'add'

# 5. Dictionaries in Python

A dictionary is an unordered collection of key-value pairs. Keys must be unique and immutable (such as strings, numbers, or tuples), while values can be of any data type.

## Creating Dictionaries

Dictionaries can be created using curly braces `{}` with key-value pairs or the `dict()` function.

### Example:
```python
# Creating a dictionary using curly braces
person = {
    "name": "Shakil",
    "age": 27,
    "city": "Munich"
}
print(person)  # Output: {'name': 'Shakil', 'age': 27, 'city': 'Munich'}

# Creating a dictionary using the dict() function
person = dict(name="Shakil", age=28, city="Erlangen")
print(person)  # Output: {'name': 'Shakil', 'age': 28, 'city': 'Erlangen'}

In [114]:
per = {
    "name": "Shakil",
    "age": 27,
    "city": "Munich"
}

In [115]:
per

{'name': 'Shakil', 'age': 27, 'city': 'Munich'}

In [116]:
per.values()

dict_values(['Shakil', 27, 'Munich'])

In [117]:
per.keys()

dict_keys(['name', 'age', 'city'])

In [119]:
per['age']

27

In [120]:
per.update({'age':28})

In [121]:
per

{'name': 'Shakil', 'age': 28, 'city': 'Munich'}

In [122]:
per.pop('age')

28

In [123]:
per

{'name': 'Shakil', 'city': 'Munich'}

In [126]:
per = {
    "name": ["Shakil",'abc'],
    "age": [27,10],
    "city": ['Munic','Erlangen']
}

In [128]:
per['age'] = None

In [129]:
per

{'name': ['Shakil', 'abc'], 'age': None, 'city': ['Munic', 'Erlangen']}

In [130]:
per['age'] = []

In [131]:
per

{'name': ['Shakil', 'abc'], 'age': [], 'city': ['Munic', 'Erlangen']}

In [133]:
per = {
    "name": ["Shakil",'abc'],
    "age": [27,10],
    "city": ['Munic','Erlangen']
}

In [135]:
import pandas as pd
df = pd.DataFrame(per)
df

     name  age      city
0  Shakil   27     Munic
1     abc   10  Erlangen

In [136]:
df.to_csv('data.csv')

In [138]:
per

{'name': ['Shakil', 'abc'], 'age': [27, 10], 'city': ['Munic', 'Erlangen']}

In [139]:
per['age'].remove(27)

In [140]:
per

{'name': ['Shakil', 'abc'], 'age': [10], 'city': ['Munic', 'Erlangen']}

# List Comprehension: Elegant Way to Create Lists

List comprehension provides a concise way to create lists in Python. It consists of brackets containing an expression followed by a `for` clause, and optionally `if` clauses. List comprehensions are a more compact and readable alternative to using loops for creating lists.

## Basic Syntax

```python
[expression for item in iterable if condition]

## Components
1. expression: The expression is the value or operation that is applied to each element. <br>
2. item: The variable that takes the value of the item inside the iterable. <br>
3. iterable: A collection of elements (e.g., list, tuple, string) to iterate over. <br>
4. condition (optional): A condition to filter items from the iterable.

squares = [x**2 for x in range(10)] <br>
print(squares) <br>
Output: [0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [141]:
squares = [x**2 for x in range(10)]

In [142]:
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [147]:
[i for i in range(15) if i%2!=0]

[1, 3, 5, 7, 9, 11, 13]

In [148]:
[i+10 for i in range(15) if i%2!=0]

[11, 13, 15, 17, 19, 21, 23]

# Tuple Comprehension in Python

Although Python does not support tuple comprehensions directly, you can achieve similar functionality using generator expressions or by converting a list comprehension to a tuple.

## Generator
A generator in Python is a special type of `iterable` that allows you to iterate over a sequence of values. Unlike lists, which store all values in memory, a generator computes each value on the fly and yields it one at a time, which makes it more memory efficient, especially for large datasets. <br>

#Generator expression to generate squares of even numbers from 0 to 9 <br>
even_squares = (x**2 for x in range(10) if x % 2 == 0)

## Using Generator Expressions

A generator expression is similar to a list comprehension, but it uses parentheses `()` instead of square brackets `[]`. It generates items one by one and is more memory efficient than a list comprehension.

### Example:
```python
# Generator expression
gen_expr = (x**2 for x in range(10))

# Converting generator expression to tuple
tuple_from_gen_expr = tuple(gen_expr)
print(tuple_from_gen_expr)
# Output: (0, 1, 4, 9, 16, 25, 36, 49, 64, 81)

# Memory Comparison

In [150]:
gen = (i+10 for i in range(15) if i%2!=0)
gen

In [151]:
tuple(gen)

(11, 13, 15, 17, 19, 21, 23)

In [152]:
sys.getsizeof(tuple(gen))

40

In [153]:
sys.getsizeof([11, 13, 15, 17, 19, 21, 23])

120

# Working with Pandas DataFrame

In this example, we will create a Pandas DataFrame using the dictionary:
```python
person = {
    "name": "Shakil",
    "age": 27,
    "city": "Munich"
}

#!pip install library_name <br>
#!pip install pandas

In [159]:
import pandas as pd

In [160]:
people = [
    ["Shakil", 27, "Munich"],
    ["ABC", 25, "Berlin"],
    ["DEF", 30, "Hamburg"],
    ["JKL", 35, "Munich"]
]

In [161]:
person

{'name': 'Shakil', 'age': 27, 'city': 'Munich'}

In [162]:
#!pip install pandas

In [163]:
df = pd.DataFrame(people)

In [164]:
df

        0   1        2
0  Shakil  27   Munich
1     ABC  25   Berlin
2     DEF  30  Hamburg
3     JKL  35   Munich

In [165]:
type(people)

list

In [166]:
df.shape

(4, 3)

In [167]:
df = pd.DataFrame(people,columns=('name','age','location') )

In [168]:
df

     name  age location
0  Shakil   27   Munich
1     ABC   25   Berlin
2     DEF   30  Hamburg
3     JKL   35   Munich

In [171]:
df = pd.DataFrame(people,columns=('name','age','location'), index=('10-12-2024','10-12-2025','10-12-2026','10-12-2027',))

In [172]:
df

              name  age location
10-12-2024  Shakil   27   Munich
10-12-2025     ABC   25   Berlin
10-12-2026     DEF   30  Hamburg
10-12-2027     JKL   35   Munich

In [174]:
df.drop('name', axis=1)

            age location
10-12-2024   27   Munich
10-12-2025   25   Berlin
10-12-2026   30  Hamburg
10-12-2027   35   Munich

In [175]:
df.drop('name', axis='columns')

            age location
10-12-2024   27   Munich
10-12-2025   25   Berlin
10-12-2026   30  Hamburg
10-12-2027   35   Munich

In [177]:
df[1:3]

           name  age location
10-12-2025  ABC   25   Berlin
10-12-2026  DEF   30  Hamburg

In [178]:
df.age

10-12-2024    27
10-12-2025    25
10-12-2026    30
10-12-2027    35
Name: age, dtype: int64

In [179]:
df.location

10-12-2024     Munich
10-12-2025     Berlin
10-12-2026    Hamburg
10-12-2027     Munich
Name: location, dtype: object

In [180]:
df[['location']]

           location
10-12-2024   Munich
10-12-2025   Berlin
10-12-2026  Hamburg
10-12-2027   Munich